* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary {
  color: #ffffff;
  background-color: #469165;
  font-weight: 600;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #387250;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 120px;
  background-color: #ffffff;
}

#nav-links {
  /* background-color: aquamarine; */
}

#nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  text-align: center;
}

#nav-links a {
  text-decoration: none;
  color: black;
}

#nav-links a:hover {
  color: #469165;
}
